@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  background-color: #2dd4bf;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scores {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
}

#oscore {
  background-color: #082f49;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-bottom: 0px;
  font-size: 32px;
}

#xscore {
  background-color: #082f49;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-bottom: 0px;
  font-size: 32px;
}

.container {
  display: grid;
  width: 320px;
  height: 320px;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  font-size: 40px;
  border-radius: 15px;
  font-weight: 1000;
  background-color: #0f766e;
  color: white;
  border: none;
  /* box-shadow: 3px 3px 6px; */
}

.msg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#msg {
  margin: 0;
}

#win {
  margin: 0;
  font-size: 100px;
}

.hide {
  display: none;
}

.msg-container.show {
  opacity: 1;
}


.game-btns {
  display: flex;
  gap: 30px;
}

#reset-btn {
  font-family: "Ubuntu", sans-serif;
  margin-top: 20px;
  padding: 15px;
  font-size: 20px;
  border-radius: 30px;
  background-color: #022c22;
  color: white;
  font-weight: 500;
  border: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #064e3b;
  color: white;
  margin-bottom: 0px;
  margin: 0px;
  padding: 10px 0px 10px 0px;
  font-size: 24px;
  font-weight: 700;
}
